* {
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}
body {
    background-color: wheat;
}
.calculator {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 14%;
    margin-left: 20px;
}
input[type="text"] {
    width: 210px;
    height: 50px;
    border-radius: 5px;
}
input[type="button"] {
    width: 50px;
    height: 50px;
    border: 1px solid black;

}
input#equal {
    width: 212px;
}
input#clear:hover {
    background: #ff1a1a;
    border: 1px solid #cc0000;
    color: white;
}
input#equal:hover {
    background: #ff1a1a;
    border: 1px solid #cc0000;
    color: white;
}
h3 {
    font-family: 'Montserrat' !important;
    display: flex;
    align-content: center;
    justify-content: center ;
}
p {
    font-family: 'Montserrat' !important;
    display: flex;
    align-content: center;
    justify-content: center ;
}
#krystal {
    font-size: 30px;
}
h3 {
    font-size: 30px;
}
#divide,#multi,#negative,#clear,#equal {
    background-color: orangered;
    opacity: .9;
    color: white;
}
.fb-root {
    height: 10vh;
    width: 10vh;
}
