html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}   
.navbar {
    text-align: center;
    text-decoration: none;
}
.nav {
    text-align: center;
    text-decoration: none;
    list-style: none;
}
a {
    margin: 5px;
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    background: cornflowerblue;
    text-align: center;
    position: sticky;
    border-radius: 100px;
}
a:hover {
    background: green;
    color: black;
    }
.banner-area {
    position: relative;
    background-image: url(Renz.png);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner-area, .skill-area, .about-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 730px;
    }
.skill-area {
    position: relative;
    background-color: #262626;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
    }
.contact-area {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;  
    }
.about-area {
    position: relative;
    background-color: #262626;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    padding: 20px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
    font-weight: bolder;
    margin: 0px;
    }
.html {
    width: 80%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.css {
    width: 50%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.js {
    width: 5%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.LFI { 
    width: 40%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.XSS {
    width: 15%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.SQLi {
    width: 75%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
.Injection {
    width: 75%;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    color: white;
    }
h1,h2 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #FF0000;
    }
h6 {
    font-weight: bolder;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 50em;
    }
.container {
  background-color: white; 
  border-radius: 100px;
  border: 2px solid black;
    }
.xxnx {
    width: 100em;
    }
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
.title h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #FF0000;
    }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
    background: red;
    color: white;
}
.fa-instagram {
     color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-envelope-open {
    color: black;
}
.footer {
    background: black;
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    }
h6 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    }
h2 {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    }
img {
    width: 260px;
    height: 260px;
    }
p {
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 2px 2px 8px black;
    color: white;
    text-align: center;
    }
strong {
    color: black;
    }
h5 {
    color: black;
    font-size: 30px;
    }
@media (max-width: 2000px) {
    .skill-area, .about-area, .contact-area {
        height: 51em;
    }
}
